@import '../../styles/theme.scss';

.button {
  font-size: $fontSizeSmall;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: $fontFamily;
  color: white;
}

.primary {
  background: $buttonPrimaryGradient;
}

.secondary {
  background: $buttonSecondaryGradient;
}
